body {
    margin: 0;
}


/* Hero Banner */
header.hero {
    background: url('../images/autumn-studio-221wufG10eg-unsplash.jpg') no-repeat center center/cover;
    height: 100vh;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    position: relative;
    margin: 0;
}

header nav {
    position: absolute;
    top: 20px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 80%;
}

header nav .logo {
    font-size: 1.5em;
    font-weight: bold;
}

header nav ul {
    list-style: none;
    display: flex;
}

header nav ul li {
    margin-left: 20px;
    
}

header nav ul li a {
    text-decoration: none;
    color: white;
    font-size: 1.1em;
}

header .hero-content {
    max-width: 600px;
}

header .hero-content h2 {
    font-size: 3em;
    margin-bottom: 10px;
}

header .hero-content p {
    font-size: 1.5em;
    margin-bottom: 85px;
}

/* Main Content */

/* Projects */
#projects-title {
    display: flex;
    justify-content: center;
    margin-top: 80px;
    border-bottom: 1px solid grey;
    margin-right: 20%;
    margin-left: 20%;
    padding: 30px;
}
.projects-section {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-content: center;
    margin-top: 50px;
    margin-right: 20%;
    margin-left: 20%;
    padding-bottom: 60px;
    padding-top: 30px;
}

.projects-section img {
    width: 300px;
    height: 147px;
    border-radius: 4px;
    box-shadow: 1px 1px 1px 1px rgb(0, 0, 0, 0.2);
    transform: scale(1);
    transition: 0.6s ease;
}

.projects-section img:hover {
    transform: scale(1.1);
}

.project-container {
    margin-left: 60px;
    justify-items: center;

}

.projects-section p {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    max-width: 300px;
}

/* About */

.about-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-left: 20%;
    margin-right: 20%;
    padding-top: 70px;
    padding-bottom: 70px;
    border-top: 1px solid grey;

}

.about-info {
    grid-column: 2/3;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 50px;

}

.about-container img {
    grid-column: 1/2;
    width: 400px;
    border-radius: 8px;
}


/* Contact */
footer {
    margin-top: 50px;
    /* content: ""; */
    background: url('../images/autumn-studio-221wufG10eg-unsplash.jpg');
    /* filter: blur(5px); */
    z-index: -1;
    height: 200px;
    margin-bottom: 0;

}
address {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start;
    z-index: 1;
    padding: 50px;
}

address a {
    text-decoration: none;
    color: black;
    padding-top: 20px;
    
}


@media screen and (max-width:1080px) {
    .projects-section {
        grid-template-columns: 1fr 1fr;
        margin: 0;
    }

    .about-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .about-container img {
        justify-content: center;
        /* margin-left: 6.5%; */
    }

}


@media screen and (max-width:750px) {
    body {
        width: 760px;
    }
    /* header.hero {
        width: 760px;
    } */

    .projects-section {
        display: flex;
        flex-direction: column;
        margin: 0;
    }

    .project-container {
        margin-left: 30%;
        margin-right: 30%;
    }


}